body {
    background-color: #141618;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    min-width: 300px;
}

.header-container {
    height: 50px
}

.btn {
    flex: 1;
    background-color: #003a79;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
}

.btn:hover {
    background-color: #002f61;
}
